{% extends 'base.html' %}

{% block breadcrumb %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb alert alert-secondary p-2">
    <li class="breadcrumb-item "><a href="{% url 'books:book-list' %}">Book List</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{book.title}}</li>
  </ol>
</nav>

{% endblock breadcrumb %}

{% block content %}
<div class="row">

  <div class=col-md-6>

    {% include "book_snippet.html" with book=book %}

  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Chapters:
      </div>
      <ul class="list-group list-group-flush">
      {% for chapter in book.chapter_set.all %}
        <li class="list-group-item">
          <a href="{{chapter.get_absolute_url}}" style="text-decoration:none">
            {{chapter.chapter_number}}. {{chapter.title}}
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>


  </div>

</div>
{% endblock content%}