{% extends 'base.html' %}   

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb alert alert-secondary p-2">
    <li class="breadcrumb-item "><a href="{% url 'books:book-list' %}">Book List</a></li>
    <li class="breadcrumb-item "><a href="{{chapter.book.get_absolute_url}}">{{chapter.book.title}}</a></li>
    <li class="breadcrumb-item active" aria-current="page" >Chapter {{chapter.chapter_number}}</li>
  </ol>
</nav>

{% endblock breadcrumb %}

{% block content %}

<div class="row">

  <div class=col-md-6>

    <div class="card">
      <div class="card-header">
        {{chapter.book.title}}
      </div>
      <img class="card-img-top" src="{{chapter.book.cover.url}}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">
          {{chapter.book.publication_date}}
        </p>
      </div>
    </div>

  </div>

  <div class="col-md-6">

    <div class="card">
      <div class="card-header">
        Excercises:
      </div>
      <ul class="list-group list-group-flush">
      {% for exercise in chapter.exercise_set.all %}
        <li class="list-group-item">
          <a href="{{exercise.get_absolute_url}}" style="text-decoration:none">
            {{exercise.exercise_number}}.{{exercise.title}} 
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>

  </div>

</div>
{% endblock content%}

