{% extends 'base.html' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb alert alert-secondary p-2">
    <li class="breadcrumb-item "><a href="{% url 'books:book-list' %}">Book List</a></li>
    <li class="breadcrumb-item "><a
        href="{{exercise.chapter.book.get_absolute_url}}">{{exercise.chapter.book.title}}</a></li>
    <li class="breadcrumb-item "><a href="{{exercise.chapter.get_absolute_url}}">Chapter
        {{exercise.chapter.chapter_number}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Exercise {{exercise.exercise_number}}</li>
  </ol>
</nav>

{% endblock breadcrumb %}

{% block content %}


<div class="row">

  <div class=col-md-6>

    <div class="card">
      <div class="card-header">
        {{exercise.chapter.book.title}}
      </div>
      <img class="card-img-top" src="{{exercise.chapter.book.cover.url}}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">
          {{exercise.chapter.book.publication_date}}
        </p>
      </div>
    </div>

  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Solutions:
      </div>
    </div>

    {% for solution in exercise.solution_set.all %}
    <div class="accordion" id="accordion{{solution.solution_number}}">

      <div class="accordion-item">
        <h2 class="accordion-header" id="head{{solution.solution_number}}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse{{solution.solution_number}}" aria-expanded="false"
            aria-controls="collapse{{solution.solution_number}}">
            Solution {{solution.solution_number}}
          </button>
        </h2>
        <div id="collapse{{solution.solution_number}}" class="accordion-collapse collapse"
          aria-labelledby="head{{solution.solution_number}}" data-bs-parent="#accordion{{solution.solution_number}}">
          <div class="accordion-body">

            <img src="{{solution.image.url}}" class="img-fluid max-width: 100% height:auto">
          </div>
        </div>
      </div>
    </div>
    {% endfor %}


  </div>


</div>
{% endblock content %}